[Unit]
Description=Flight Display First Boot Setup
After=NetworkManager.service
Wants=NetworkManager.service
ConditionPathExists=!/var/lib/flight-display/.firstboot_done

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstboot-flight.sh
RemainAfterExit=yes
UMask=0077

[Install]
WantedBy=multi-user.target
