[Unit]
Description=Run flight display update every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
Persistent=true
Unit=flight-display.service

[Install]
WantedBy=timers.target
